body.centre {
	background-color: lightgreen;
  overflow: hidden;
  margin: 0; /* pour éviter les marges */
  text-align: center; /* pour corriger le bug de centrage IE */
}
#conteneur {
  margin-left: auto;
   margin-right: auto;
    width: 500px;
    text-align: left; /* on rétablit l'alignement normal du texte */
    background-color:lightgreen;
  }
#lvl1 {
	display: flex; 
	flex-direction: row;
	justify-content: center;
	background-color: green;
	padding: 50px;
}
#buttonDevs {
  background-color: blue;
  border: none;
  color: lightblue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#porte1 {
  border-width: 0px;
  padding:0px;
}